@import '../../../common/styles/variables.scss';

.filePickerWrapper {
  margin: 20px 0 30px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
  }

  .input input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: $black;
  }

  span {
    color: $red;
    margin-top: 0.5rem;
  }
}

.readyBtnWrapper {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.readyBtn {
  width: 100%;
  max-width: 200px;
}

.nameFilePicker {
  font-weight: 400;
  font-size: 14px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    div {
      flex-direction: row;

      a {
        display: inline-block;
        max-width: 250px;
        overflow: hidden;
        text-decoration: none;
        color: $black;
      }

      img {
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}
