@import '../../../../common/styles/variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid $silver;
}

th,
td {
  padding: 10px;
  text-align: center;
}
