@import '../../../../common/styles/variables.scss';

.tableRow {
  display: contents;
}

.item {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;
  padding-right: 9px;
  border-bottom: 1px solid $silver;
  &:first-child {
    left: 0;
    z-index: 10;
    position: sticky;
  }
  .input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: $table-column-color;
    text-decoration: underline;
    background-color: $seaSalt;
    padding: 5px;
    &:disabled {
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: $table-column-color;
      text-decoration: none;
      background-color: $white;
      opacity: 1;
    }
  }
  .phone_container {
    height: 30px;
    input {
      width: 100%;
      height: 100%;
      background-color: $seaSalt;
      border-radius: 5px;
      border: none;
      color: $gray-btn-bg-hover;
      &:disabled {
        background-color: white !important;
        opacity: 0.3;
      }
    }

    .disabled_btn {
      cursor: not-allowed;
    }
    .disabled_btn > div {
      background-color: $seaSalt;
      background-color: white !important;
      opacity: 0.3;
      &:hover {
        background: $seaSalt;
      }
    }
    .select_btn {
      border: none;
      background-color: $seaSalt;
    }
    .select_btn > div {
      background-color: $seaSalt;
      &:hover {
        background: $seaSalt;
      }
    }
  }
}

.select:disabled {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.buttons {
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  &.scrolled {
    box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.5);
  }
}

.button {
  width: 38%;
  height: 100%;
  cursor: pointer;
  &_cancel {
    filter: invert(34%) sepia(88%) saturate(3708%) hue-rotate(320deg) brightness(96%) contrast(101%);
  }
  &_check {
    filter: invert(56%) sepia(40%) saturate(2351%) hue-rotate(104deg) brightness(91%) contrast(88%);
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.fileItem {
  padding: 0;
  padding-right: 9px;
}

.file {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  & a {
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $table-column-color;
  }
  & img {
    cursor: pointer;
  }
}

.fileInput {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: row;
  flex-grow: 1;
  div {
    width: 100%;
    height: 100%;
    div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      & a {
        white-space: nowrap;
        overflow: hidden;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $table-column-color;
      }
      & img {
        cursor: pointer;
      }
    }
    label {
      display: none;
    }
  }
}
