@import '../../../../common/styles/variables.scss';
.table {
  position: relative;
  width: 80%;
  margin: 0 auto;

  ul {
    list-style: none;
  }

  .head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .headText {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: $gray;
    font-family: var(--font-family);
  }

  .data {
    width: 20%;
  }

  .naming {
    width: 40%;
  }

  .quantity {
    width: 20%;
  }

  .price {
    width: 20%;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  // EDIT BLOCKS STYLES HERE
  //    ||
  //    \/
  .edit {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px 10px;
    padding: 10px;
    background: $seaSalt;
    box-shadow: 0 1px 5px 0 rgba(184, 184, 184, 0.1);
    margin-bottom: 5px;

    .editWrapper {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    .editColumn {
      gap: 5px;
      display: flex;
      flex-direction: column;
    }

    .editDate {
      width: 20%;
    }

    .editNaming {
      width: 40%;
    }

    .editQuantity {
      width: 20%;
    }

    .editPrice {
      width: 20%;
    }

    .editInput {
      border: none;
      width: 100%;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      padding: 5px 15px;
      border-radius: 5px;
      background-color: $white;
      font-family: var(--font-family);
    }

    .editAdd {
      cursor: pointer;
      margin: 0 auto 10px;
    }

    .btnWrapper {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .editSave {
      font-size: 16px;
      font-weight: 400;
      padding: 5px 20px;
      line-height: 1.3em;
    }

    .editDelete {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3em;
      text-transform: lowercase;
      font-family: var(--font-family);
    }
  }
  //    /\
  //    ||

  .total {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: $lightRed;
    font-family: var(--font-family);
    margin-left: auto;
    width: 18.9%;
    margin-right: 10px;
  }
}
