@import './fonts.scss';

// фон кнопок
$gray-btn-bg-default: #616161;
$gray-btn-bg-hover: #242423;
// $gray-btn-bg-active:
$yellow-btn-bg: #dcb726;

$start-btn-default: #dcb726;
$start-btn-hover: #fbc800;

$green-btn-default: #20be56;
$green-btn-hover: #17e25c;

$red-btn-default: #d03f3f;
$red-btn-hover: #f21212;

// цвет текста
$white: #fffffc;
$black: #000;
$gray: #6f6f6f;
$red: #e23333;
