@import './fonts.scss';

// фон кнопок
$gray-btn-bg-default: #616161;
$gray-btn-bg-hover: #242423;
// $gray-btn-bg-active:
$yellow-btn-bg: #dcb726;
$yellow-btn-hover: #fbc800;

$start-btn-default: #dcb726;
$start-btn-hover: #fbc800;
$green-btn-default: #20be56;
$green-btn-hover: #17e25c;

$red-btn-default: #d03f3f;
$red-btn-hover: #f21212;

// цвет текста
$white: #fffffc;
$black: #000;
$gray: #6f6f6f;
$red: #e23333;
$seaSalt: #f8f8f8;

// палитра главного фона
$main-yellow-bg: #c9b463;
$main-blue-bg: #2094b9;
$main-violet-bg: #8049ab;
$main-red-bg: #e23333;
$main-black-bg: #1a1a1a;
$count-active-bg: #e6e6e6;
$baby-powder: rgba($white, 30%);
$inp-bg: rgba(253, 253, 250, 0.4);
