@import '../../../../../../../../common/styles/variables.scss';

.deal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .title {
    font-weight: 400;
    font-size: 14px;
    color: $gray;
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    color: $gray-btn-bg-hover;
  }
}
