@import '../../../../common/styles/variables.scss';

.form {
  .header {
    font-size: 14px;
    color: $table-title-color;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -7px;
      background: $seaSalt;
    }

    .title {
      font-size: 14px;
      color: $table-title-color;
      font-weight: 400;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .input {
      outline: none;
      background: $input-edit-bg;
    }

    label {
      margin-bottom: 5px;
      font-size: 14px;
      outline: none;
      border: none;
      color: $table-title-color;
    }

    input,
    select {
      padding: 10px;
      border-radius: 5px;
      outline: none;
      font-size: 16px;
      border: none;
    }

    input[type='file'] {
      padding: 3px;
    }
  }

  .dates {
    display: flex;
    gap: 14px;
  }

  .agreement_field {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .btn {
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
  }
}

.error {
  color: $main-red-bg;
  font-size: 12px;
  text-align: center;
}
