@import '../../../common/styles/variables.scss';

.wrapper {
  background: $white;
  width: 100%;
  height: auto;

  border-radius: 10px;

  .table {
    width: 100%;
    border-radius: 10px;

    thead {
      &.table_wrapper {
        th {
          padding: 10px;
          color: $table-title-color;
          font-weight: 400;
          text-align: left;
          border-bottom: 1px solid $table-gray-bg;
        }
      }

      .table_titles {
        th {
          padding: 10px;
          color: $table-title-color;
          font-weight: 400;
          text-align: left;
          border-bottom: 1px solid $table-gray-bg;
        }
      }
    }

    td {
      padding: 8px;
      text-align: left;
      color: $table-column-color;
      font-weight: 400;
    }

    .buttons {
      display: flex;
    }
  }

  .main_checkbox {
    display: flex;
    gap: 10px;
    padding-top: 12px;
    margin-left: 20px;
  }

  .checkbox {
    display: flex;
    gap: 10px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .column {
    max-width: 300px; /* Задаем максимальную ширину */
    overflow: hidden; /* Если необходимо скрыть содержимое, выходящее за пределы */
    text-overflow: ellipsis; /* Добавляем многоточие для обрезанного текста */
    // white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
  }

  .editInput {
    border: none;
    // border: solid 1px $input-edit;
    padding: 5px;
    border-radius: 5px;
    background: $input-edit-bg;
    outline: none;
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    gap: 30px;
    padding-bottom: 15px;

    .btnSave,
    .btnEdit {
      padding: 5px 20px;
      background: $table-dtn-save;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }

    .btnDelete,
    .btnCancel {
      padding: 5px 20px;
      border-radius: 10px;
      border: none;
      color: $table-btn-delete;
      background: transparent;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .table_text {
    text-align: center;
    color: red;
    font-weight: 400;
    font-size: 26px;
  }
}

// modal
.modalBtnWrapper {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-weight: 400;
    font-size: 16px;
  }
}

// mini progress bar

.miniProgressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .progressContainer {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
  }

  .progressStage {
    flex: 1;
    height: 25px;
    border-radius: 4px;
    margin-right: 2px;

    &:last-child {
      margin-right: 0;
    }
  }

  .stageTitle {
    font-size: 14px;
    color: #666666;
  }

  .active {
    background-color: inherit;
  }
}

// dropdown
