@import '../../../common/styles/variables.scss';
.table {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

  display: flex;
  flex-direction: column;
}
td {
  padding: 15px 30px;
}
.thead {
  padding: 0 30px;
  display: flex;
  align-items: center;
  background: $seaSalt;
  border-bottom: 1px solid $silver;
  box-shadow: 0 1px 5px rgba(184, 184, 184, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}
.headTd {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: lowercase;
  color: $gray;
  padding: 15px 0;
  font-family: var(--font-family);
}
.tbody {
  flex: 1;
  overflow-y: auto;
}

.bodyTr {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid $silver;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  font-family: var(--font-family);
  color: var(--background-eerie-black);
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }
}

.bodyTd {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  font-family: var(--font-family);
  color: var(--background-eerie-black);
  text-decoration: none;
}

.iconsWrapper {
  gap: 25px;
  display: flex;
  align-items: center;
}

.deleteIcon {
  cursor: pointer;
}

.downloadIcon {
  cursor: pointer;
}

.naming {
  width: 65%;
}

.format {
  width: 20%;
  overflow: hidden;
}

.action {
  width: 15%;
}

@media (max-width: 991px) {
  .table {
    width: 736px;
  }
}
