@import '../../../common/styles/variables.scss';
.tableContainer {
  height: 100%;
  background-color: #f8f8f8;
}
.table {
  width: 100%;
  height: 100%;
  color: $black;
  background-color: $white;
  border-collapse: collapse;
}
.thead {
  position: relative;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid $silver;
}
.headTd {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  color: $gray;
  font-family: var(--font-family);
}
.tbody {
  max-height: 90%;
  overflow-y: auto;
}

.bodyTr {
  height: 52px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  font-family: var(--font-family);
  border-bottom: 1px solid $silver;
  color: var(--background-eerie-black);
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }
}

.bodyTd {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  font-family: var(--font-family);
  color: var(--background-eerie-black);
  text-decoration: none;
}

.iconsWrapper {
  gap: 25px;
  display: flex;
  align-items: center;
}

.deleteIcon {
  cursor: pointer;
}

.downloadIcon {
  cursor: pointer;
}

.id {
  width: 23%;
}

.name {
  width: 23%;
}

.naming {
  width: 43%;
}

.format {
  width: 6%;
  overflow: hidden;
}

// .action {
//   width: 15%;
// }

.theadCheckbox {
  position: relative;
  top: -13px;
  margin-right: 15px;
}

@media (max-width: 991px) {
  .table {
    width: 736px;
  }
}
