@import '../../../../../../common/styles/variables.scss';

.table {
  border-collapse: collapse;
}

.accordion {
  padding: 0;
}

.thead {
  border-bottom: 1px solid $silver;
}

.title, .item {
  font-weight: 400;
  font-size: 14px;
  text-align: start;
  padding: 10px 30px 10px 0;
}

.title {
  color: $gray;
}

.item {
  color: $gray-btn-bg-hover;
}