.aboutDeal {
  display: flex;
  gap: 30px;
  max-height: 100%;
  width: 100%;
  .rightBlock {
    display: flex;
    flex-direction: column;
    width: 53.16%;
    gap: 10px;
    .tab {
      align-self: center;
    }
    .isEndTab {
      align-self: flex-end;
      margin-right: 13.5%;
    }
    .box {
      width: 100%;
      height: calc(100% - 50px);
    }
  }
  .isCalculatorChild {
    width: 100%;
  }
}
