.wrapper {
  background: #fffffc;
  height: auto;
  border-radius: 10px;

  .table {
    width: 100%;
    border-radius: 10px;

    thead {
      &.table_wrapper {
        th {
          padding: 10px;
          color: #6f6f6f;
          font-weight: 400;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
      }

      .table_titles {
        th {
          padding: 10px;
          color: #6f6f6f;
          font-weight: 400;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
      }
    }

    td {
      padding: 8px;
      text-align: left;
      color: #242423;
      font-weight: 400;
    }
  }

  .checkbox {
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;

    .uiCheckbox,
    .uiCheckbox *,
    .uiCheckbox *::before,
    .uiCheckbox *::after {
      box-sizing: border-box;
    }

    .uiCheckbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      background: #fff;
      border: 1px solid #d9d9d9;
      transition: all 0.3s;
      cursor: pointer;
      position: relative;

      &:hover {
        border-color: #1677ff;
      }

      &:checked {
        background: #242423 ;
        border-color: transparent;

        &::before {
          opacity: 1;
          transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
          transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        }
      }

      &:active:not(:checked)::after {
        transition: none;
        box-shadow: none;
        opacity: 1;
      }
    }

    .uiCheckbox::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 0 8px #1677ff;
      border-radius: inherit;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    }

    .uiCheckbox::before {
      top: 40%;
      left: 50%;
      content: '';
      position: absolute;
      width: 4px;
      height: 7px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
      opacity: 0;
      transition:
        all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
        opacity 0.1s;
    }
  }
}
